@font-face {
    font-family: 'Source sans pro';
    src: url('./fonts/source-sans-pro/SourceSansPro-Regular.otf')
}

@font-face {
    font-family: 'Spin Cycle';
    src: url('./fonts/Spin-Cycle-OT/spincycle_ot.otf');
}
@font-face {
    font-family: 'holberton_school-icon';
    src:  url('fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
    url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
    url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
    url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'holberton_school-icon', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 15rem;
    color: #FF6565;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.holberton_school-icon-arrow_1:before {
    content: "\e900";
}
.holberton_school-icon-arrow_2:before {
    content: "\e901";
}
.holberton_school-icon-arrow_3:before {
    content: "\e902";
}
.holberton_school-icon-arrow_4:before {
    content: "\e903";
}
.holberton_school-icon-arrow_5:before {
    content: "\e904";
}
.holberton_school-icon-check:before {
    content: "\e905";
}
.holberton_school-icon-ic_bag:before {
    content: "\e906";
}
.holberton_school-icon-ic_cart:before {
    content: "\e907";
}
.holberton_school-icon-ic_facebook:before {
    content: "\e908";
}
.holberton_school-icon-ic_hearing:before {
    content: "\e909";
}
.holberton_school-icon-ic_instagram:before {
    content: "\e90a";
}
.holberton_school-icon-ic_laptop:before {
    content: "\e90b";
}
.holberton_school-icon-ic_money:before {
    content: "\e90c";
}
.holberton_school-icon-ic_music:before {
    content: "\e90d";
}
.holberton_school-icon-ic_sound:before {
    content: "\e90e";
}
.holberton_school-icon-ic_twitter:before {
    content: "\e90f";
}
.holberton_school-icon-ic_video:before {
    content: "\e910";
}
.holberton_school-icon-menu:before {
    content: "\e911";
}
.holberton_school-icon-search_1:before {
    content: "\e912";
}
.holberton_school-icon-search_2:before {
    content: "\e913";
}
.holberton_school-icon-star:before {
    content: "\e914";
}
:root {
    --font-family: 'Source sans pro', 'Spin Cycle', 'holberton_school-icon', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Spin Cycle', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: var(--font-family);
    line-height: 3.2rem;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
}
.container {
    width: 100%;
    background: url("./images/headphones_hero_1.jpg") no-repeat center center/cover fixed;";
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    top: 0;
    right: 0;
    left: 0;
}
a {
    text-decoration: none;
}
.mobile-nav {
    display: none;
}
.nav a:hover, .nav a:active{
    color: #FF6565;
}
.section-phones input {
    display: none;
}
.mobile-nav {
    display: none;
}
.desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.desktop-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.desktop-nav li {
    padding: 0 1rem;
}
.container-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container-logo img {
    width: 200px;
}
.nav ul {
    list-style: none;
    padding-left: 0;
}
.nav li a {
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    line-height: 3.2rem;
}
.section-phones {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}
.container.phones-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 637px;
    padding-bottom: 150px;
    margin: 244px 0 20px 0;
}
.phone-title {
    height: 40px;
    left: 4.55%;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}
.phone-subtitle {
    height: 20px;
    left: 22.14%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.phone-description {
    height: 104px;
    left: 0;
    right: 0;
    top: calc(50% - 104px/2 + 104px);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
}
.btn {
    left: 37.21%;
    right: 37.36%;
    top: 31.95%;
    bottom: 53.99%;
    margin-top: 40px;
}
.phone-btn {
    display: inline-block;
    background: #ff6565;
    border-radius: 2.2rem;
    border: none;
    box-shadow: 10px 10px 50px 12px rgb(0 0 0 / 25%);
    outline: none;
    padding: 13px 31px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.btn.phone-btn:hover {
    background: #ff6565;
    opacity: 0.8;
}
.btn.phone-btn:active {
    background: #ff6565;
    opacity: 0.6;
}
/* Section 1  Responsive for tablets and mobiles
   ==================================================*/

@media screen and (max-width: 880px) and (min-width: 488px) {
    .container.phones-infos {
        width: 100%;
    }
    .phone-title {
        font-size: 24px;
        line-height: 32px;
    }
    .phone-subtitle {
        font-size: 14px;
        line-height: 18px;
    }
    .phone-description {
        font-size: 14px;
        line-height: 24px;
        padding: 30px 115px
    }
    .phone-btn {
        padding: 10px 20px;
        font-size: 12px;
    }

}

@media screen and (max-width: 488px) {
    .body {
        width: 100%;
    }

    .container {
        width: 100%;
        left: 0;
        top: 0;
        background: url("./images/headphones_hero_1.jpg") no-repeat center center/cover fixed;
    "; background-size: cover;
    }
    .container-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        padding-left: 30px;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .container.phones-infos {
        width: 100%;

    }
    .phone-title {
        height: 40px;
        left: 10.92%;
        right: 10.92%;
        top: calc(50% - 40px / 2 - 113px);
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-top: 150px;
        color: #FFFFFF;
    }
    .phone-subtitle {
        left: 10.92%;
        right: 10.92%;
        top: calc(50% - 40px / 2 - 113px);
        margin-top: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        padding-top: 150px;
        color: #FFFFFF;
    }

    .phone-description {
        height: 300px;
        left: 3.08%;
        right: 3.08%;
        top: calc(50% - 300px / 2 + 300px);
        padding: 20px 20px;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }

    .icon-handler {
        display: block;
        position: absolute;
        left: 1.5rem;
        height: 3px;
        width: 1.5rem;
        background-color: white;
        cursor: pointer;
        transition: transform .1s;
        top: 75px;;
    }

    .icon-handler::before {
        content: '';
        display: block;
        border-top: 3px solid white;
        margin-top: -0.7rem;
        width: 2.25rem;
        transition: transform .1s;
        top: 50px;
    }
    .icon-handler::after {
        content: '';
        display: block;
        border-top: 3px solid white;
        margin-top: 1.1rem;
        width: 2.25rem;
        transition: transform .3s;
        top: 50px;
    }
    .mobile-nav{
        display: none;
        position: absolute;
        top: 10vh;
        right: 4rem;
        left: 4rem;
        max-width: 100%;
        text-align: center;;
    }
    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .mobile-nav ul li {
        margin: 1rem 0;
    }
    input#icon-btn:checked ~ .mobile-nav {
        display: block;
    }
    input#icon-btn:checked ~ .phones-infos {
        padding-top: 450px;
    }
    input#icon-btn:checked ~ .icon-handler {
        width: 2.25rem;
        transform: rotate(45deg);
        transition: transform .3s;
    }
    input#icon-btn:checked ~ .icon-handler::after {
        display: none;
    }
    input#icon-btn:checked ~ .icon-handler::before {
        margin-top: 0;
        transform: rotate(90deg);
        transition: transform .3s;
    }
}
/* Section 2  what we do
   ==================================================*/

.section2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #F8F8F8;
    padding: 0 0 100px 0;
}

.header-section2 h1 {
    display: flex;
    justify-content: center;
    color: #071629;
}

.section2-description-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #071629;
    margin: 2rem 20rem 2rem 20rem
}
.section2-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem 20rem 1rem 20rem;
    flex-wrap: wrap;
}
.details-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section2-icon {
    display: flex;
    align-items: center;
}
.section2-icon span {
    font-size: 8rem;
    margin-left: 10px;
}
.section2-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 10px;
}
.section2-description {
    flex-wrap: wrap;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 880px) and (min-width: 488px) {
    .section2-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background: #F8F8F8;
    }
    .section2-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section2-phone-what.what-wrapper {
        left: 0;
        width: 100%;
        padding: 0 70px;
    }
    .section2-description-header {
        width: auto;
        flex-wrap: wrap;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin: 1rem 2rem;
    }
    .section2-details-container{
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 4rem;
    }
    .details-section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        justify-content: space-evenly;
        padding: 1rem 4rem;
    }
    .section2-icon span {
        font-size: 5rem;
    }
    .section2-title {
        font-size: 1rem;
    }
    .section2-description {
        font-size: 0.6rem;
        line-height: 1rem;
    }
}
@media screen and (max-width: 488px) {
    .section2-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background: #F8F8F8;
        padding: 0 0 100px 0;
    }
    .header-section2 {
        margin-top: 5rem;
        font-size: 20px;
    }
    .section2-description-header {
        margin: 1rem 2rem;

    }
    .section2-details-container{
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1rem 4rem;
    }
    .section2-icon span {
        font-size: 5rem;
    }
    .section2-title {
        font-size: 1rem;
    }
    .section2-description {
        font-size: 0.6rem;
        line-height: 1rem;
    }
}
/** Section 3  our services
   ==================================================*/
.section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("./images/headphones_hero_2.jpg") no-repeat center center/cover;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    width: 100%;
    margin: auto;
}
.section3-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
}
.section3-header {
    height: 40px;
    left: 34.07%;
    right: 33.93%;
    top: calc(50% - 40px/2 - 164px);
    font-family: 'SourceSansPro', sans-serif;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-top: 80px;
}
.section3-description {
    margin: 3rem 10rem;
    padding: 0 12rem;
}
.section3-description-content {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}
.section3-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.section3-details-container img {
    width: 70%;
    height: 100%;
    justify-content: space-around;
    position: relative;
}
.section3-details-container .section3-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 60px;
}
.section3-pentagon-title {
    position: absolute;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-style: normal;
    align-items: center;
    font-weight: 400;
    font-size: 38px;
    line-height: 26px;
}
.section3-pentagon-description {
    position: absolute;
    margin-top: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-style: normal;
    align-items: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 26px;
}
/** Section 4  our services
   ==================================================*/
@media screen and (max-width: 880px) and (min-width: 488px){
    .section3 {
        background: url("./images/headphones_hero_2.jpg") no-repeat center center/cover;

    }
    .section.what-wrapper {
        width: auto;
        left: 0;
        padding: 20px 10px;
    }
    .section3-description {
        margin: 3rem auto;
        padding: 0;
    }
    .section3-description-content {
        padding: 0 90px;
    }
    .section3-details-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;
    }
    .section3-details-container .section3-details {
        flex-wrap: wrap;
    }

    .section3-details-container img {
        width: 50%;
        height: 50%;
        justify-content: space-around;
        position: relative;
    }

}
@media screen and (max-width: 488px) {
    .section.what-wrapper {
        width: auto;
        left: 0;
        padding: 20px 10px;
    }
    .section3-description {
        margin: 3rem auto;
        padding: 0;
    }
    .section3-description-content {
        padding: 30px;
    }
    .section3-details-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;
        margin: 10px;
        padding: 30px;
    }
    .section3-details-container .section3-details {
        flex-wrap: wrap;
    }
    .section3-header {
        padding: 1rem 3rem 1rem 3rem;
    }

    .section3-details-container img {
        width: 50%;
        height: 50%;
        justify-content: space-around;
        position: relative;
    }

}
/** Section 5  Contact us
   ==================================================*/
.section4-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5rem 0 5rem 0;
}
.section4-title {
    font-size: 32px;
    color: #071629;
    text-align: center;
    margin-bottom: 30px;
}
.form-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    margin: auto;
}
form + label {
    font-size: 1.2rem;
    font-weight: 700;
}
.input-container input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px rgba(7, 22, 41, 0.4) solid;
    display: block;
    width: 100%;
    padding: 15px 50px;
    font-size: 18px;
    color: black;
}
.input-container label {
    position: absolute;
    left: 40%;
    pointer-events: none;
}
.input-container input:focus,
.input-container input:valid {
    outline: 0;
    border-bottom-color: rgba(7, 22, 41, 0.4);
}

.input-container label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.70, 0.55, 0.400, 1.55);
}
.btn:active {
    transform: scale(0.98);
}
.

.input-container input:focus,
.input-container input:valid {
    outline: none;
}
.input-container input:focus + label,
.input-container input:valid + label {
    display: none;
    padding: 10px 0;
}
/** Section 6  Footer
   ==================================================*/
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #071629;
    padding: 5rem 0 3rem 0;
}
.footer-container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #071629;
    padding: 0 20rem;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}
.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #071629;
    width: 100%;
    margin: auto;
}
.footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #071629;
    width: 100%;
    margin: auto;
}
.footer-wrapper img {
    justify-content: flex-start;
    width: 40%;
}
.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #071629;
    width: 100%;
    margin: auto;
}
.footer-social .section4-icon {
    color: white;
    font-size: 1.5rem;
    margin: 0 1rem;
}
.footer-social .section4-icon span {
    color: white;
    font-size: 3rem;
}
.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-top: 60px;
    width: 100%;
    mix-blend-mode: normal;
    opacity: 0.35;
}
@media screen and (max-width: 880px) and (min-width: 488px) {
    .footer-container-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 10rem;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #071629;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }
    .footer-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #071629;
        width: 100%;
        margin: auto;
        padding: 1rem 0 3rem 0;
    }
    .footer-wrapper img {
        justify-content: center;
        width: 40%;
    }
    .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #071629;
        width: 100%;
        margin: auto;
    }
    .
}
@media screen and (max-width: 488px) {
    .footer-container-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 5rem;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #071629;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }
    .footer-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #071629;
        width: 100%;
        margin: auto;
        padding: 1rem 0 3rem 0;
    }
    .footer-wrapper img {
        justify-content: center;
        width: 60%;
    }
    .footer-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #071629;
        width: 100%;
        margin: auto;
    }
}